{% extends "::base.html.twig" %}

{% block title %}GestionPfeBundle:competences:ajoutCompetence{% endblock %}

{% block body %}
<h1>Welcome to the competences:ajoutCompetence page</h1>
{% endblock %}
