{% extends "::base.html.twig" %}

{% block title %}GestionPfeBundle:competences:modifierCompetence{% endblock %}

{% block body %}
<h1>Welcome to the competences:modifierCompetence page</h1>
{% endblock %}
