{% extends "::base.html.twig" %}

{% block title %}GestionPfeBundle:competences:supprimerCompetence{% endblock %}

{% block body %}
<h1>Welcome to the competences:supprimerCompetence page</h1>
{% endblock %}
