@media (min-width: 992px) and (max-width: 1200px) {
    /* Header area */
    .main-menu-area ul li {
        padding: 0 3px;
    }
    .search-area input {
        width: 87%;
    }
    
    /* Banner area */
    
    .single-text-banner-txt h1,
    .single-banner-content h1 {
        font-size: 60px;
    }
    
    /* Cource area */
    
    .rattings-media img,
    .professors-media img {
        height: 130px;
        width: 130px;
    }
    
    /* About area */
    
    .single-content {
        width: 100%;
        margin-right: 0;
    }
    
    /* Blog area */
    
    .blog-post-content {
        padding-bottom: 15px;
    }
    
}
@media only screen and (max-width: 991px) {
    
    /* Header area */
    .header-social-menu {
        text-align: center;
        padding: 10px 0;
    }
    .logo-area {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        padding-left: 15px;
    }
    
    /* Banner area */
    
    .main-banner-area .owl-nav {
        display: none;
    }
    
    /* About area */
    
    .about-us-area {
        display: block;
    }
    .all-about-content {
        width: 94%;
        margin-left: 3%;
        float: none;
        padding: 0;
    }
    .about-img {
        width: 94%;
        margin-left: 3%;
        float: none;
        height: 500px;
        margin-top: 50px;
    }
    
    /* Blog area */

    .blog-post-content {
        padding: 15px;
        padding-top: 0;
    }

    .single-blog-post-two .blog-post-content {
        padding: 0;
    }
    
    /* Contact area */
    .singlecontact-info {
        margin-bottom: 0;
        margin-top: 20px;
    }
    
    /* Social area */

    .social-area .container {
        padding: 0;
        width: 100%;
    }

}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    
    /* Global */
    
    .section-title h2 {
        font-size: 24px;
    }
    
    /* Header area */
    
    .header-info-menu ul {
        text-align: center;
        padding: 10px 0;
    }
    .search-area form {
        width: 94%;
    }
    .search-area input {
        width: 82%;
    }
    
    /* Banner area */
    
    .single-text-banner-txt h1,
    .single-banner-content h1 {
        font-size: 45px;
    }
    
    /* About area */
    
    .all-about-content {
        width: 94%;
        margin-left: 3%;
        float: none;
        padding: 0;
    }
    .single-content {
        margin-bottom: 30px;
        margin-right: 30px;
    }
    
    /* Events area */
    
    #count .single-count {
        padding: 25px 0;
        width: 120px;
        font-size: 18px;
        margin: 0 5px;
    }
    
    .events-text h3 {
        font-size: 18px;
    }
    
    /* Course area */
    
    .single-couse-info h4 {
        font-size: 16px;
    }
    
    /* Comming soon page */
    
    .comming-soon-content h2 {
        font-size: 55px;
    }
    .comingsoon-count .single-count {
        padding: 45px 15px;
        display: inline-block;
        margin: 30px 15px 50px;
        font-size: 18px;
    }
    
    /* Subscribe area */
    
    .cource-search-form input {
        width: 70%;
    }
    
}

@media only screen and (max-width: 767px) {
    
    /* global style */
    
    .section-title h2 {
        font-size: 20px;
    }
    
    /* Header area */
    .header-info-menu ul li {
        display: block;
        padding: 10px 0;
        text-align: left;
        border-right: 0;
    }
    .header-bottom-area.fixed {
        background-color: #1a1a1a;
        position: static;
    }
    .search-area {
        position: fixed;
        background-color: rgba(26, 26, 26, 0.95);
        z-index: 2147483648;
    }
    .search-area form {
        position: fixed;
        left: 0;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
    }
    .search-area input {
        width: 94%;
        margin-left: 3%;
        margin-bottom: 10px;
    }
    .search-area button {
        width: 94%;
        margin-left: 3%;
    }
    
    /* Banner area */
    .single-text-banner-txt h1,
    .single-banner-content h1 {
        font-size: 24px;
    }
    .single-text-banner-txt a,
    .single-banner-content a {
        margin-right: 5px;
        padding: 10px;
    }
    
    /* About area */
    .single-content {
        width: 100%;
        margin-right: 0;
    }
    
    /* Cource area */
    
    .single-info-cource {
        font-size: 24px;
    }
    .cource-search-form input {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .cource-search-form button {
        width: 90%;
        margin: 0 auto;
    }
    .course-btn a {
        margin: 0 3px;
        padding: 10px 8px;
    }
    .single-cource-list .course-btn a {
        padding: 10px 4px;
    }
    .single-info-cource {
        margin: 30px 0 50px;
    }
    .info-btn a {
        margin-top: 10px;
    }
    .Cource-share {
        margin-top: 15px;
    }
    .rattings-media,
    .professors-media,
    .Cource-share,
    .course-detail-btn {
        text-align: center;
    }
    .rattings-media img,
    .professors-media img {
        margin: 0 auto;
    }
    .rattings-media img {
        margin-bottom: 15px;
    }
    
    /* Events area */
    
    #count .single-count {
        padding: 15px 0;
        width: 150px;
        font-size: 18px;
        margin: 5px 0;
    }
    .event-info-txt {
        text-align: left;
    }
    .event-info-txt h4 {
        font-size: 14px;
    }
    .events-share,
    .event-apply-btn {
        text-align: center;
    }
    .events-text h3 {
        margin-top: 20px;
        font-size: 16px;
    }
    .single-events-two .event-date,
    .event-date {
        padding: 10px 5px;
    }
    .events-text a.theme-btn-alt, .events-text a.theme-btn {
        margin-right: 5px;
        padding: 10px;
    }
    
    /* Proffesior area */
    
    .professors-two-content h4 {
        margin-top: 15px;
    }
    
    /* Blog area */
    .sigle-blog-post-info li,
    .blog-post-content .post-info li {
        display: block;
        margin-bottom: 5px;
    }
    .single-popular a {
        padding: 10px 0;
    }
    .single-blog-post-heading h1 {
        font-size: 24px;
    }
    .single-blog-post-heading h2 {
        font-size: 22px;
    }
    .single-blog-post-heading h3 {
        font-size: 20px;
    }
    .comment-media img {
        margin-bottom: 15px;
    }
    
    /* Registration area */
    
    .sign-in-area a,
    .sign-in-area span {
        padding: 0 15px;
    }
    .signup-social {
        margin-bottom: 20px;
    }
    
    /* 404 page */
    
    .page-404-content h2 {
        font-size: 150px;
    }
    .page-404-content h2 span {
        font-size: 40px;
    }
    .page-404-btn a {
        padding: 10px;
        margin: 3px;
    }
    
    /* Comming soon page */
    
    .page-comming-soon {
        height: 1000px;
    }
    .page-comming-soon-content {
        height: 1000px;
    }
    .comming-soon-content h2 {
        font-size: 36px;
    }
    .comingsoon-count .single-count {
        padding: 45px 15px;
        display: block;
        margin: 30px 15px;
    }
    
    /* Subscribe area */
    
    .subscribe-form input {
        width: 100%;
        margin-bottom: 10px;
    }
    .subscribe-form button {
        width: 100%;
    }
    
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    
    /* Events area */

    #count .single-count {
        padding: 15px 0;
        width: 160px;
        font-size: 18px;
        margin: 5px 5px;
    }
}