{% extends "GestionPfeBundle:Default:indexAdmin.html.twig" %}

{% block title %}GestionPfeBundle:Soutenance:AffecterJury{% endblock %}

{% block body %}
<h1>Welcome to the Soutenance:AffecterJury page</h1>
{% endblock %}
