{% extends "GestionPfeBundle:Default:indexAdmin.html.twig" %}

{% block title %}GestionPfeBundle:Soutenance:AjouterSoutenance{% endblock %}

{% block body %}
<h1>Welcome to the Soutenance:AjouterSoutenance page</h1>
{% endblock %}
