{% extends "GestionPfeBundle:Default:indexAdmin.html.twig" %}

{% block title %}GestionPfeBundle:Soutenance:AjouterDemandeSoutenance{% endblock %}

{% block body %}
<h1>Welcome to the Soutenance:AjouterDemandeSoutenance page</h1>
{% endblock %}
