{% extends "GestionPfeBundle:Default:indexAdmin.html.twig" %}

{% block title %}GestionPfeBundle:Soutenance:ModiferJury{% endblock %}

{% block body %}
<h1>Welcome to the Soutenance:ModiferJury page</h1>
{% endblock %}
