{% extends "::base.html.twig" %}

{% block title %}GestionPfeBundle:formations:modifierFormation{% endblock %}

{% block body %}
<h1>Welcome to the formations:modifierFormation page</h1>
{% endblock %}
