{% extends "::base.html.twig" %}

{% block title %}GestionPfeBundle:formations:supprimerFormation{% endblock %}

{% block body %}
<h1>Welcome to the formations:supprimerFormation page</h1>
{% endblock %}
