{% extends "GestionPfeBundle::layout.html.twig" %}


{% block body %}
    <div class="page-banner-area" style="background-image: url(/Sites/GestionPFE/web/Client/img/page-banner/page-banner.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-content">
                        <!-- Section Title -->
                        <div class="section-title alt-sec-title">
                            <h2>Remplir Votre CV</h2>
                            <p>Enrechissez votre Resumé Personnel pour avoir une chance a avoir un stage pfe !</p>
                        </div>
                        <!-- Page breadcrumb -->
                        <div class="page-breadcrumb">
                            <ul>
                                <li><a href="{{ path('fos_user_profile_show') }}">Profil</a></li>
                                <li><a class="not-active" href="{{ path('_remplir_cv') }} "> Resume Personnel</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="container">
    <div class="row">
        <div class="sign-up-area ">
            <div class="form-group">
                <input type="text" id="centre">
            </div>
            <div class="form-group" >
                <input type="text" id="formation">
            </div>
            <div class="form-group">
                <input type="text" id="langue">
            </div>
            <div class="form-group">
                <input type="button" id="btn-add">
            </div>
        </div>
    </div>
</div>



{% endblock %}
<script>
var room = 1;
function education_fields() {

room++;
var objTo = document.getElementById('education_fields')
var divtest = document.createElement("div");
divtest.setAttribute("class", "form-group removeclass"+room);
var rdiv = 'removeclass'+room;
divtest.innerHTML = '<div class="col-sm-3"><div class="form-group"> <input type="text" class="form-control" id="Schoolname" name="Schoolname[]" value="" placeholder="School name"></div></div><div class="col-sm-3 "><div class="form-group"> <input type="text" class="form-control" id="Major" name="Major[]" value="" placeholder="Major"></div></div><div class="col-sm-3 "><div class="form-group"> <input type="text" class="form-control" id="Degree" name="Degree[]" value="" placeholder="Degree"></div></div><div class="col-sm-3 "><div class="form-group"><div class="input-group"> <select class="form-control" id="educationDate" name="educationDate[]"><option value="">Date</option><option value="2015">2015</option><option value="2016">2016</option><option value="2017">2017</option><option value="2018">2018</option> </select><div class="input-group-btn"> <button class="btn btn-danger" type="button" onclick="remove_education_fields('+ room +');"> <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> </button></div></div></div></div><div class="clear"></div>';

objTo.appendChild(divtest)
}
function remove_education_fields(rid) {
$('.removeclass'+rid).remove();
}
</script>
<script>

    $("#btn-add").on('click', function () {




        obj = new Object();
        obj["langue"] = $('#langue').val();
        obj["centre"] = $('#centre').val();
        obj["formation"] = $('#formation').val();


        $.ajax({
            type: "POST",
            url: "{{ path('_remplir_cv') }}",

            data: obj,
            dataType: "json",
            success: function (response) {

                alert("Cession Ajouter avec succés !");
            }
        });



    });
</script>