{% extends "GestionPfeBundle:Default:indexEntreprise.html.twig" %}









{% block body %}
    <script src="{{ asset('Admin/assets/js/jquery.min.js') }}"></script>
    <script src="{{ asset('Admin/assets/js/bootstrap.min.js') }}"></script>

    <script >

        var id=1;
        var room = 1;
        var i=1;
        function education_fields() {
            id++;
            room++;
            var objTo = document.getElementById('education_fields');
            var divtest = document.createElement("div");
            divtest.setAttribute("class", " removeclass"+room);
            divtest.setAttribute("style", "width: 40em;margin-left:40px");

            var rdiv = 'removeclass'+room;
            divtest.innerHTML =
                '<div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">' +
                '<input class = "mdl-textfield__input" placeholder="Technologies *" type="text" id="'+ id + '" name="'+ id + '" >' +
                '<label class="mdl-textfield__label"> '+'</label>'+
                '<button class="pull-right margin-0  btn btn-danger" title="supprimer ce champ" onclick="remove_education_fields('+ room + ');">' +
                '<span class="fa fa-minus"></span>' +
                '</button>' +
                '</div>';
            objTo.appendChild(divtest);
        }
        function remove_education_fields(rid) {
            $('.removeclass'+rid).remove();
            id--;
        }

    </script>
    <!-- Partie Ajax -->
    <script>

        function add_offre() {
            if( $('#titre').val()=="" ||
                $('#duree').val()==null ||
                $('#nbrDemandes').val()==null||
                $('#Description').val()=="")

            {
                alert("Tous les champs sont obligatoirs !");
                return false;
            }
            for (i = 1; i <=id; i++)
            {
                if( $('#'+i+'').val()=="")
                {
                    alert("Tous les champs sont obligatoirs !");
                    return false;
                }
            }


            $("#btn_add_offre").attr('disabled','disabled');

            obj = new Object();
            obj["titre"] = $('#titre').val();
            obj["Description"] = $('#Description').val();
            obj["duree"] = $('#duree').val();
            obj["nbrDemandes"] = $('#nbrDemandes').val();
            for (i = 1; i <=id; i++)
            {
                obj[i]=$('#'+i+'').val();
            }
            obj["max"]=id;

            $.ajax({
                type: "POST",
                url: "{{ path('ajouter_avec_ajax') }}",
                data: obj,
                dataType: "json",
                success: function (response) {

                }

            });
            location.href = "{{ path('afficher_offre_entreprise') }}";

        }


    </script>


    <div class="page-bar" >
        <div class="page-title-breadcrumb">
            <div class=" pull-left">
                <div class="page-title">Add Student</div>
            </div>
            <ol class="breadcrumb page-breadcrumb pull-right">
                <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="index-2.html">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
                </li>
                <li><a class="parent-item" href="#">Student</a>&nbsp;<i class="fa fa-angle-right"></i>
                </li>
                <li class="active">Add Student</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <div class="card-head">
                    <header>Basic Information</header>
                    <button id = "panel-button"
                            class = "mdl-button mdl-js-button mdl-button--icon pull-right"
                            data-upgraded = ",MaterialButton">
                        <i class = "material-icons">more_vert</i>
                    </button>
                    <ul class = "mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                        data-mdl-for = "panel-button">
                        <li class = "mdl-menu__item"><i class="material-icons">assistant_photo</i>Action</li>
                        <li class = "mdl-menu__item"><i class="material-icons">print</i>Another action</li>
                        <li class = "mdl-menu__item"><i class="material-icons">favorite</i>Something else here</li>
                    </ul>
                </div>
                <div class="card-body row">
                    <div class="col-lg-6 p-t-20">
                        <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                            <input class = "mdl-textfield__input" type="text" id="titre" name="titre">
                            <label class = "mdl-textfield__label" >Titre Du stage <span class="required"> * </span> </label>
                        </div>
                    </div>




                    <div class="col-lg-6 p-t-20" >
                        <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                            <input class = "mdl-textfield__input" type="number" name="duree" id="duree">
                            <label class = "mdl-textfield__label" >Duree de stage en mois <span class="required"> * </span> </label>
                        </div>
                    </div>
                    <div class="col-lg-6 p-t-20">
                        <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                            <input class = "mdl-textfield__input" type="number" name="nbrDemandes" id="nbrDemandes">
                            <label class = "mdl-textfield__label" >Nombre d'étudiant requis <span class="required"> * </span> </label>
                        </div>
                    </div>

                    <div class="col-lg-6 p-t-20">
                        <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                            <input class = "mdl-textfield__input" type="text" id="1" name="1" >
                            <label for="sample2" class="pull-right margin-0">
                                <a class="btn btn-success" title="nouveau champ pour technologie" onclick="education_fields();">
                                    <span class="fa fa-plus" aria-hidden="true"></span>
                                </a>
                            </label>
                            <label class = "mdl-textfield__label" >Technologies <span class="required"> * </span> </label>
                        </div>
                    </div>


                    <div class="row"  id="education_fields" >

                    </div>




                    <div class="col-lg-12 p-t-20">
                        <div class = "mdl-textfield mdl-js-textfield txt-full-width">
						                     <textarea class = "mdl-textfield__input" rows =  "4"
                                                       name="Description" id="Description" ></textarea>
                            <label class = "mdl-textfield__label" for = "text7">Description général <span class="required"> * </span></label>
                        </div>
                    </div>







                    <div class="col-lg-12 p-t-20 text-center">
                        <input type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 m-r-20 btn-pink" id="btn_add_offre" value="Ajout Offre" onclick="add_offre();">
                    </div>

                </div>
            </div>
        </div>
    </div>



{% endblock body %}




